<p>navbar works!</p>
    <nav class="navbar navbar-expand-lg navbar-light custom-bg-nav-bar">
    <div class="container d-flex align-iems-center
     justify-content-between">
     <div class="d-flex align-items-center">
        <a class="navbar-brand">
            <img src="../../assets/logo.png" width="50" alt="Logo">
        </a>
     </div>
     <div class="navbar-content">
        <span class="nav-link">Hi,</span>
        <button class="btn btn-danger my-2 my-lg-0">Logout</button>
     </div>
    </div>
</nav>